.ant-menu-horizontal > .ant-menu-item > a {
    color: white !important;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: #fa6312 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: #fa8c15 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected > a:hover {
    color: #fa6312 !important;
}